@supports (display: flex) {
	@media screen and (max-width: 1520px) {
		#content-discord-widget {
			opacity: 0 !important;
			}
		}

	@media screen and (max-width: 1300px) {
		#nav-menu {
			float: left;
			width: 100%;
			height: 100%;
			opacity: 1;
			padding: calc(var(--margin-elements) / 2);
			transition: var(--transition-default);
			border-radius: var(--border-radius-default);
			cursor: pointer;
			}

		#nav-menu:hover {
			background: var(--color-active);
			}

		#nav-menu svg {
			width: var(--width-default);
			height: calc(var(--height-default) - var(--margin-elements));
			fill: var(--color-text);
			float: left;
			}

		#nav-menu span {
			opacity: var(--opacity-special);
			margin-left: var(--margin-elements);
			line-height: calc(var(--height-default) - var(--margin-elements));
			float: left;
			}

		#nav-menu svg:active {
			fill: var(--color-main);
			}

		#nav-tabs-links {
			width: 0;
			height: 0;
			overflow: hidden;
			opacity: 0;
			}

		#nav-tabs-links:is(.adaptive) {
			transition: var(--transition-long);
			max-width: var(--width-min-display);
			width: calc(100vw - var(--margin-elements) * 2);
			height: calc(100vh - (var(--height-default) + var(--margin-elements) * 5));
			opacity: 1;
			overflow: auto;
			border-radius: var(--border-radius-default);
			position: absolute;
			top: calc(var(--height-default) + var(--margin-elements) * 2);
			bottom: 0;
			left: calc(var(--margin-elements) - var(--margin-elements) * 2);
			background: var(--color-optional);
			display: inline-block;
			padding: var(--margin-elements);
			}

		#nav-tabs-links:is(.adaptive) a {
			text-align: left;
			margin: calc(var(--margin-elements) / 3) 0;
			width: 100%;
			}

		#nav-tabs-links:is(.adaptive) a:first-child {
			margin-top: 0;
			}

		#nav-tabs-links:is(.adaptive) a:last-child {
			margin-bottom: 0;
			}

		#nav-tabs-links:is(.adaptive) .active {
			background: var(--color-main);
			}

		#nav-discord-widget {
			margin-top: calc(var(--margin-elements) / 1.5);
			border-radius: var(--border-radius-default);
			width: 100%;
			opacity: 1;
			height: calc(var(--height-menu-top) * 1.5);
			}

		:root {
			--tabs-hidden: true;
			}
		}

	@media screen and (max-width: 1000px) {
		#content-block-1 #welcome {
			float: left;
			text-align: left;
			width: 60%;
			margin: 0 var(--margin-elements);
			}
		}

	@media screen and (max-width: 640px) {
		#nav-logo {
			right: var(--margin-elements);
			left: auto;
			}

		#nav-tabs-buttons {
			width: 0;
			height: 0;
			overflow: hidden;
			opacity: 0;
			}
		}

	@media screen and (max-width: 500px) {
		#content-block-2 .card {
			width: 100% !important;
			}
		}

	@media screen and (max-width: 400px) {
		#random-moves-figures {
			right: calc(var(--margin-elements)) !important;
			bottom: calc(var(--margin-elements) * 7) !important;
			}

		#content-block-1 #welcome {
			width: calc(100% - var(--margin-elements) * 2);
			}

		#content-block-1 #welcome .button {
			width: 100%;
			display: inline-flex;
			text-align: center;
			}

		#content-block-1 #welcome .button a {
			width: 100%;
			}
		}

	@media screen and (max-width: 330px) {
		#content-block-1 .environment .animation {
			opacity: 0;
			}
		}
	}