#content {
	position: relative;
	top: var(--margin-default);
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	height: calc(100% - var(--height-navbar) - var(--margin-default));
	padding: var(--border-radius-default);
	transition: var(--transition-long);
	text-align: center;
	border-radius: var(--border-radius-default);
	background: var(--color-purple-gradient);
	}

#content .text {
	position: relative;
	z-index: 5;
	padding-top: 10%;
	padding-bottom: 10%;
	color: var(--color-text);
	}

#content .text .secondary {
	margin-top: var(--height-default);
	}

#content .title {
	font-size: var(--font-size-big);
	font-weight: bold;
	}

#content .desc {
	font-size: var(--font-size-medium);
	}

#content .text .button {
	margin-top: calc(var(--height-default) * 1.5);
	}

#content .text .button a {
	padding: var(--margin-elements) calc(var(--width-default) * 2);
	cursor: pointer;
	-webkit-user-select: none;
	transition: var(--transition-default);
	text-decoration: none;
	color: var(--color-text);
	border-radius: var(--border-radius-default);
	background: var(--color-light);
	-webkit-user-drag: none;
	}

#content .text .button a:hover {
	background: var(--color-active);
	}

#content .overlay {
	position: absolute;
	z-index: 4;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.1;
	background: url('../assets/foam.png');
	background-size: cover;
	}

#environment {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	border-radius: var(--border-radius-default);
	background: var(--color-main-gradient);
	}

@keyframes moving {
	0% {
		right: calc(var(--width-menu-left) - var(--margin-elements) * 2.5);
		width: var(--width-default);
		height: var(--height-default);
		}
	50% {
		right: calc(var(--width-menu-left) - var(--margin-elements) * 8);
		width: calc(var(--width-default) * 1.2);
		height: calc(var(--height-default) * 1.2);
		}
	100% {
		right: calc(var(--width-menu-left) - var(--margin-elements) * 2.5);
		width: var(--width-default);
		height: var(--height-default);
		}
	}

#env-chess svg:nth-of-type(1) {
	position: absolute;
	z-index: 1;
	right: calc(var(--width-menu-left) - var(--margin-elements) * 2.5);
	bottom: calc(var(--margin-elements) * 2 + var(--height-default) / 2);
	width: var(--width-default);
	height: var(--height-default);
	animation: moving 5s infinite;
	fill: var(--color-text);
	}

#env-chess svg:nth-of-type(2) {
	position: absolute;
	z-index: 1;
	right: calc(var(--margin-elements) * 3);
	bottom: calc(var(--margin-elements) * 2 + var(--height-default) / 2);
	width: var(--width-default);
	height: var(--height-default);
	fill: var(--color-text);
	}

#figures-moves-random {
	line-height: var(--height-default);
	position: absolute;
	z-index: 1;
	right: calc(var(--margin-elements) * 22);
	bottom: calc(var(--margin-elements) * 5);
	height: var(--height-default);
	padding: 0 var(--margin-elements);
	opacity: var(--opacity-secondary);
	color: var(--color-text);
	border-radius: var(--border-radius-default);
	background: var(--color-optional);
	-webkit-user-drag: none;
	}

#chess-board {
	position: absolute;
	z-index: 1;
	right: calc(var(--margin-elements) * 2);
	bottom: calc(var(--margin-elements) * 2);
	width: var(--width-menu-left);
	height: calc(var(--height-default) / 2);
	opacity: 1;
	border-radius: var(--border-radius-default);
	background: var(--color-text);
	-webkit-user-drag: none;
	}

#discord-widget {
	position: absolute;
	z-index: 4;
	top: calc(var(--margin-elements) * 2);
	right: 0;
	bottom: 0;
	left: calc(var(--margin-elements) * 2);
	width: calc(var(--width-menu-left) * 1.5 + var(--margin-elements) * 2);
	height: calc(100% + var(--height-default) * 4);
	-webkit-user-select: none;
	transform: translate3d(-20px, -96px, 0);
	opacity: 0.7;
	}
