#content {
	position: absolute;
	top: calc(var(--height-navbar) + var(--margin-default) * 2);
	right: var(--margin-default);
	left: var(--margin-default);
	padding: var(--border-radius-default);
	border-radius: var(--border-radius-default);
	background: var(--color-purple-gradient);
	text-align: center;
	overflow: hidden;
	transition: var(--transition-long);
	}

#content .text {
	position: relative;
	padding-top: 10%;
	padding-bottom: 10%;
	color: var(--color-text);
	z-index: 5;
	}

#content .text .secondary {
	margin-top: var(--height-default);
	}

#content .title {
	font-size: var(--font-size-big);
	font-weight: bold;
	}

#content .desc {
	font-size: var(--font-size-medium);
	}

#content .text .button {
	margin-top: calc(var(--height-default) * 1.5);
	}

#content .text .button a {
	-webkit-user-drag: none;
	-webkit-user-select: none;
	border-radius: var(--border-radius-default);
	padding: var(--margin-elements) calc(var(--width-default) * 2);
	text-decoration: none;
	color: var(--color-text);
	background: var(--color-light);
	transition: var(--transition-default);
	cursor: pointer;
	}

#content .text .button a:hover {
	background: var(--color-active);
	}

#content .overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url('../assets/foam.png');
	z-index: 4;
	background-size: cover;
	opacity: 0.1;
	}

#environment {
	background: var(--color-main-gradient);
	overflow: hidden;
	border-radius: var(--border-radius-default);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	}

#environment svg {
	fill: var(--color-text-secondaty);
	}

#env-chess svg {
	-webkit-user-drag: none;
	z-index: 1;
	opacity: 1;
	position: absolute;
	right: calc(var(--margin-elements) * 2);
	bottom: calc(var(--margin-elements) * 2);
	width: var(--width-menu-left);
	height: var(--width-menu-left);
	}

#discord-widget {
	z-index: 4;
	top: calc(var(--margin-elements) * 2);
	transform: translate3d(-20px, -96px, 0);
	opacity: 0.7;
	height: calc(100% + var(--height-default) * 4);
	width: calc(var(--width-menu-left) * 1.5 + var(--margin-elements) * 2);
	position: absolute;
	left: calc(var(--margin-elements) * 2);
	right: 0;
	bottom: 0;
	-webkit-user-select: none;
	box-shadow: var(--shadow-default);
	}