#navbar {
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	width: auto;
	height: var(--height-navbar);
	max-height: var(--height-navbar);
	padding: var(--margin-elements);
	-webkit-user-select: none;
	transition: var(--transition-long);
	border-radius: var(--border-radius-default);
	background: var(--color-light);
	z-index: 10;
	}

#navbar svg {
	width: 0;
	height: 0;
	}

#navbar iframe {
	opacity: 0;
	width: 0;
	height: 0;
	}

#menu {
	transition: var(--transition-long);
	opacity: 0;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	}

#menu .hidden {
	transition: var(--transition-long);
	opacity: 0;
	}

#navbar .tabs,
#navbar .buttons {
	line-height: calc(var(--height-navbar) - var(--margin-elements) * 2);
	position: relative;
	z-index: 1;
	display: inline-flex;
	transition: var(--transition-default);
	}

#navbar .tabs {
	float: left;
	}

#navbar .buttons {
	float: right;
	}

#navbar .buttons a,
#navbar .tabs a {
	float: left;
	min-width: calc(var(--width-default) * 2);
	margin-left: var(--margin-elements);
	padding: 0 var(--margin-elements);
	cursor: pointer;
	transition: var(--transition-default);
	text-align: center;
	text-decoration: none;
	opacity: 0.8;
	color: var(--color-text-secondary);
	border-radius: var(--border-radius-default);
	background: var(--color-light);
	-webkit-user-drag: none;
	}

#navbar .buttons a:first-child,
#navbar .tabs a:first-child {
	margin-left: 0;
	}

#navbar .buttons a:hover,
#navbar .tabs a:hover {
	opacity: 1;
	}

#navbar .buttons a:hover {
	color: var(--color-main);
	}

#navbar .tabs a:hover {
	background: var(--color-active);
	}

#navbar .buttons a {
	color: var(--color-embed);
	background: var(--color-text);
	}

#navbar .tabs .active {
	transition: var(--transition-default);
	opacity: 1;
	color: var(--color-text);
	}

#navbar .logo {
	font-size: var(--font-size-default);
	position: absolute;
	z-index: 0;
	top: var(--margin-elements);
	right: 0;
	bottom: var(--margin-elements);
	left: 0;
	text-align: center;
	transition: var(--transition-long);
	border-radius: var(--border-radius-default);
	}

#navbar .logo .content {
	display: inline-block;
	}

#navbar .content svg {
	float: left;
	width: var(--width-default);
	height: calc(var(--height-default) - var(--margin-elements));
	margin: calc(var(--margin-elements) / 2) var(--margin-elements);
	fill: var(--color-text);
	}

#navbar .content span {
	line-height: calc(var(--height-navbar) - var(--margin-elements) * 2);
	float: left;
	padding-right: var(--margin-elements);
	}
